<%- include('header'); %>
  <section id=register>
  	<form class="login-form" id="" action="/register" method="POST">
      <h1 class="big-heading">Sign Up</h1>
      <div class="form-group">
        <input placeholder="Name" type="text" class="form-control" id="exampleInputUser" name = "name" aria-describedby="" required>
      </div>
      <div class="form-group">
        <input placeholder="Lastname" type="text" class="form-control" id="exampleInputLastname" name = "lastname" aria-describedby="" required>
      </div>
  		<div class="form-group" >
    		<input placeholder="Email" type="email" class="form-control" id="exampleInputEmail1" name = "email" aria-describedby="emailHelp" required>
  		</div>
  		<div class="form-group">
    		<input placeholder="Password" type="password" class="form-control" id="exampleInputPassword1" name="password" required>
  		  <p class="invalid-register-text"><%= message %></p>
      </div>
      <button id="login-button" type="submit" value="Submit" class="btn btn-primary">Submit</button>
	  </form>
  </section>
<%- include('footer'); %>